.App {
  text-align: center;
  background-color: lightblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cars {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.car img{
  width: 50%;
  align-self: center;
}

.cars {
  padding:5%;
}
.car {
  padding:5%;
  background-color: lightsteelblue;
  border: solid;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  -ms-grid-column-align: center;
}

.button {
  background-color: blanchedalmond;
  padding:5%;
}

.row {
  align-content: center;
}

.carsCart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  -ms-grid-column-align: center;
}

.carCart img{
  width: 40%;
}

.carsCart {
  padding:5%;
  
}
.carCart {
  padding:5%;
  background-color:rosybrown;
  border: solid;
}

.table {
  table-layout: auto;
  width: 100%;
  align-content: center;
  padding:5%;
  
}

.checkout_amounts {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
}

.filtering {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.filteringItem {
  padding: 2%;
}

.centerIMG {
  display: block;
  margin-left: auto;
  margin-right: auto;
}